#stats {
	margin-top: 1rem;
	border: 1px solid #404040;
	border-radius: 0.25rem;
	display: none;
}
#stats div{
	padding: 0 1rem;
	display: flex;
	align-items: center;
	gap: 0.25rem;
}
#loses{
	border: none;
}
#winnumber.happened{
	color: #28a028;
}
#losenumber.happened{
	color: #a02828;
}